
body{
    background-color: rgb(214, 220, 220);
  
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight:normal;
    /* font-variant: small-caps; */
    width:90%;
    margin: auto;
}

hr{

    width: 50%;
    margin: auto;
    border-top: 3px solid red;
}